* {
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
}

/*darkblue color: #2F4673*/
/*lightblue color: #0095DA*/


.landingPage_wrapper {
	background-image: url(images/landingPageBgImg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
}

.servicePage_wrapper {
	width: 100vw;
	height: 100vh;
}

.serviceWrapper {
	height: 70%;
	width: 100%;
	padding-top: 10%;
	display: flex;
	flex-direction: row;
}

.servicePhoto {
	width: 40%;
	object-fit: cover;
	background: #F6F6F6;
}

.serviceText {
	width: 40%;
	padding-top: 12%;
	padding-left: 10%;
	padding-right: 20%;
	text-align: left;
}

.serviceText p {
	color: black;
	font-size: 20px;
	line-height: 26px;
	font-style: italic;
	font-weight: 500;
}

.serviceText h1 {
	margin-top: 5%;
	color: #2F4673;
	font-size: 24px;
}

.serviceText h2 {
	color: #0095DA;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 500;	
}

.os-section .os-title {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 1em;
	font-weight: 300;
	margin-left: 10vw;
}


.os-section {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.os-section h1 {
	font-size: 28px;
	font-weight: 600;
	line-height: 1.2;
	margin-right: 15vw;
	margin-left: 15vw;
	margin-bottom: 5em;
	margin-top: 5em;
}

.os-row {
	width: 95%;
	height: 50vh;
	display: flex;
	flex-direction: row;
	margin-right: 10vw;
	margin-top: 20vh;
}

.os-row-left {
	width: 95%;
	height: 50vh;
	display: flex;
	flex-direction: row;
	margin-left: 10vw;
	margin-top: 20vh;
}

.os-row-left:first-of-type {
	margin-top: 10vh;
}

.os-text {
	width: 50%;
	height: 100%;
	color: black;
}

.os-text h1 {
	font-size: 30px;
	font-weight: 700;
	margin: 0 10%;
}

.os-text p {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin: 2% 10%;
}

.os-img {
	width: 50vw;
	height: 50vh;
	object-fit: cover;
	background-size: cover;

}







.sisu_stencil {
	background-image: url(images/landingPageBg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.navBar {
	width: 100%;
	display: flex;
	position: fixed;
	z-index: 10;
}

.navBar:hover {
	background: white;
}

html:not([data-scroll="0"]) .navBar {
	background: white;
}


.logo {
	background-image: url(images/logo.png);
	width: 8vw;
	margin-left: 5.95%;
	margin-right: 5%;
	margin-top: 1.5%;
	padding-bottom: 1%;
	background-repeat: no-repeat;
	background-size: contain;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

nav li {
	display: inline-block;
}

nav a {
	color: #2F4673;
	text-decoration: none;
	display: block;
	padding: 1.5em 3.5em;
	padding-bottom: 1.5rem;
	margin-top: 1.7em;
	font-weight: 500;
	font-size: 16px;
}

nav li:hover a {
	color: #0095DA;
}

nav li:hover .menu-sub a {
	color: #2F4673;
	transition: all 0.2s ease;
}

.menu-sub {
	position: absolute;
	background: white;
	width: 100vw;
	left: -26vw;
	display: none;
	padding: 0.0em;
	min-height: 20vh;
	z-index: 3;
	box-shadow: 0px 3px 10px -7px rgba(0,0,0,0.4);
}



nav li:hover .menu-sub {
	display: block;
	color: #2F4673;
}

nav:hover {
	background:#F6F6F6;
}

.menu-sub li {
	display: block;
	padding: 0em;
}

.menu-sub-a li {
	margin-left: 29.8vw;
}

.menu-sub-b li {
	margin-left: 41vw;
}

.menu-sub-c li {
	margin-left: 54.8vw;
}


nav li:hover .menu-sub li a:hover {
	color: #0095DA;
	text-decoration: underline;
	margin-left: 1%;
}

.menu-sub a {
	padding: 0;
	margin-top: 1.5rem;
}


.landingPageWrapper {
	position: absolute;
	z-index: 2;
	top: 32%;
	left: 15%;
	width: 40vw;
	height: 50%;
}

.landingPageWrapper h1 {
	font-size: 65px;
	color: #2F4673;
}

.landingPageWrapper p {
	margin-left: 8%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 15%;
	font-size: 28px;
}

.mainbtn {
	color: white;
	background: #2F4673;
	padding: 0.7em;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	margin-left: 8%;
	text-decoration: none;
	transition: ease all 0.3s;
}

.learnMorebtn {
	color: white;
	background: #2F4673;
	width: 7vw;
	padding: 0.7em;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	margin-left: 0%;
	margin-top: 5%;
	text-decoration: none;
	transition: ease all 0.3s;
}


.mainbtn:hover, .learnMorebtn:hover {
	background: #0095DA;
}

/*.title {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 2em;
	font-weight: 300;
}

.header {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}*/
.title {
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 1em;
	font-weight: 500;
}

.header {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	margin-right: 20vw;
	margin-top: 5%;
	margin-bottom: 1em;
}

.text {
	margin-right: 20vw;
	font-size: 16px;
	line-height: 24px;
}

.hwchText .header {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	margin-right: 0vw;
	margin-top: 3%;
	margin-bottom: 0.5em;
}

.hwchText .text {
	margin-right: 0vw;
	font-size: 16px;
	line-height: 24px;
}

.hwchText .header:first-of-type {
	margin-top: 5%;
}


.ocText .text {
	margin-right: 0vw;
	font-size: 16px;
	line-height: 24px;
}


.hwchWrapper {
	width: 100%;
	height: 85vh;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.hwchText {
	width: 76%;
	height: 50vh;
	margin-top: 2%;
	padding-top: 4%;
	padding-left: 8%;
	padding-right: 8%;
	background-color: #F6F6F6;
	text-align: center;
}

.hwchServiceWrapper {
	width: 80%;
	height: 33vh;
	position: absolute;
	top: 155%;
	display: flex;
	flex-direction: row;
}

.serviceCard {
	width: 31.33%;
	height: 100%;
	margin: 0 1%;
}

.cardImg {
	width: 100%;
	height: 80%;
}

.servicebtn {
	width: 100%;
	height: 20%;
	margin-top: -2%;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	border: none;
	border-radius: 0px;
	background-color: white;
	cursor: pointer;
	transition: all 0.4s ease;
}


.servicebtn:hover {
	background: #2F4673;
	color: white;
	padding-left: 8%;
}


.ocWrapper {
	width: 100vw;
	height: 80vh;
	margin-bottom: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.oc-col-1 {
	width: 66%;
	height: 60%;
	margin-left: 10vw;
	display: flex;
	flex-direction: column;
}

.oc-col-2 {
	width: 33%;
	height: 60%;

}

.oc-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.oc-row-1 {
	width: 100%;
	height: 60%;
}

.oc-row-1 p {
	font-size: 16px;
	line-height: 24px;
	margin-right: 10%;
	margin-bottom: 10%;
	margin-top: 5%;
}

.oc-row-2 {
	display: flex;
	flex-direction: row;
	padding-right: 10%;
	justify-content: space-between;
	align-items: flex-end;
	height: 40%;
	margin-top: 2.5%;
}

.oc-box {
	width: 28%;
	height: 80%;
	background: #F6F6F6;
	padding: 2%;
}

.oc-box h1 {
	font-size: 30px;
	color: #2F4673;
	font-weight: 600;
}

.oc-box p {
	margin-top: 5%;
	font-size: 16px;
	color: black;
	font-weight: 400;
	line-height: 18px;

}

.otWrapper {
	width: 100vw;
	height: 85vh;
	display: flex;
	flex-direction: column;
}

.otText {
	width: 80%;
	height: 5vh;
	margin-left: 10%;
	margin-right: 30%;
	margin-top: 2%;
	text-align: left;
}

.teamContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}


.teamList {
	width: 30%;
	height: 100%;
	margin-right: 10%;
	background: lightcoral;
}










.tabs {
	width: 80vw;
	height: 70vh;
	margin-left: 10%;
	margin-top: 2%;
	display: flex;
	flex-direction: row-reverse;
}

.tabs__sidebar {
	width: 30%;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: top;
}

.tabs__button {
	display: block;
	background: none;
	border: none;
	height: 15%;
	width: 100%;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

.tabs__button:hover {
	background: #2F4673;
	color: white;
}

.tabs__button h1 {
	font-size: 18px;
	text-align: left;
	margin-left: 30%;
	margin-top: 6%;
	font-weight: 300;
}

.tabs__button h2 {
	font-size: 12px;
	text-align: left;
	margin-left: 30%;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.tabs__button:hover h2 {
	color: white;
}

.btnImg {
	height: 100%;
	float: left;
}

.tabs__button .btnImg {
	transition: all 0.3s ease-in;
}


.tabs__button:hover .btnImg {
	background: #2F4673;
}

.tabs__button:active {
	background-color: #2F4673;
	color: white;
}

.tabs__button--active {
	background-color: #2F4673;
	color: white;
}

.tabs__button--active h2 {
	color: white;
}

.tabs__content {
	padding: 0px;
	font-size: 0.8rem;
	height: 100%;
	display: none;
}

.tabs__content--active {
	display: flex;
}

.teamPhoto {
	width: 37%;
	padding-top: 0%;
	margin-left: 2%;
	position: absolute;
	left: 0;
	object-fit: contain;
	z-index: 3;
}

.teamText {
	width: 40%;
	height: 35%;
	left: 20%;
	margin-top: 3%;
	position: absolute;
	text-align: left;
	background: #2F4673;
}

.teamText p {
	margin-top: 8%;
	margin-left: 25%;
	margin-right: 10%;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.5px;
	font-style: italic;
	color: white;
}

.teamText h1 {
	margin-top: 3%;
	margin-left: 25%;
	font-size: 20px;
	font-weight: 500;
	color: white;
}

.teamText h2 {
	margin-left: 25%;
	font-size: 18px;
	font-weight: 800;
	color: #0095DA;
	text-transform: uppercase;
}










section {
	height: 55vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;

}

.container {
	width: 100vw;
	height: 35vh;
	display: flex;
	margin: 0 auto;
	margin-top: 10%;
	background: #F6F6F6;
	padding: 20px;
}

.logoSisu {
	width: 25%;
	margin-top: 5%;
	position: absolute;
}

.step {
	display: none;
}

.step.active {
	display: block;
}

.form-group {
	width: 55vw;
	height: 30vh;
	margin-top: 20px;
	margin-left: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btnWrapper {
	display: flex;
}

.radioWrapper {
	display: flex;
	margin-top: -10vh;
}

.form-group h1 {
	font-size: 28px;
}

.form-group p {
	font-size: 20px;
	margin-top: -5vh;
	margin-right: 10vw;
}

.form-group input {
	width: 100%;
	border: 1.5px solid grey;
	padding: 5px;
	font-size: 18px;
	margin-top: 5px;
	border-radius: 4px;
}

button.next-btn,
button.previous-btn,
button.submit-btn {
	float: left;
	outline: none;
	color: white;
	background: #2F4673;
	padding: 0.7em 2em;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	transition: ease all 0.3s;
}

button.next-btn:hover {
	background: #0095DA;
}

button.previous-btn {
	float: left;
	margin-right: 3vw;
	background: none;
	color: #2F4673;
	font-weight: 500;
	transition: ease all 0.3s;
}

button.previous-btn:hover {
	color: #0095DA;
}

button.submit-btn, button.careers-btn {
	float: left;
	color: #2F4673;
	background: none;
	border: 2px solid #2F4673;
	padding: 0.7em 2em;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	transition: ease all 0.3s;
}

button.careers-btn {
	margin-left: 3vw;
}

button.submit-btn:hover, button.careers-btn:hover{
	background: #2F4673;
	color: white;
}

.descText {
	height: 15vh;
	width: 40vw;
	resize: none;
}

input[type=text] {
	width: 20vw;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	margin-right: 1vw;
}

.infoWrapper:first-of-type {
	margin-top: -2vh;
}

.infoWrapper {
	display: flex;
	flex-direction: row;
	margin-top: -4vh;
}

















.footer {
	height: 45vh;
	width: 100vw;
	margin-top: 5%;
}

.row-1 {
	height: 80%;
	width: 100%;
	display: flex;
}

.row-2 {
	height: 20%;
	width: 100%;
	display: flex;
}

.row-1 .col-1 {
	height: 98%;
	width: 20%;
	margin-left: 10vw;
	margin-top: 2%;
}

.row-1 .col-1 a, h2 {
	font-size: 16px;
	text-decoration: none;
	color: black;
	font-weight: 400;
	transition: all 0.3s ease;
}

.row-1 .col-1 a:hover {
	color: #0095DA;
	text-decoration: underline;
}

.row-1 .col-2 {
	height: 98%;
	width: 60vw;
	margin-right: 10vw;
	margin-top: 2%;
	display: flex;
	justify-content: start;
}

.row-1 .col-2 li {
	font-size: 16px;
	list-style: none;
	text-align: center;
	margin-right: 5vw;
	margin-bottom: 2vh;
	font-weight: 400;
	transition: all 0.3s ease;
}

.row-1 .col-2 li:first-of-type {
	font-weight: 500;
}

.row-1 .col-2 li:hover {
	color: #0095DA;
	text-decoration: underline;
	cursor: pointer;
}

.row-1 .col-2 li a {
	text-decoration: none;
	color: black;
	font-weight: 400;
	transition: all 0.3s ease;
}

.row-1 .col-2 li a:hover {
	color: #0095DA;
	text-decoration: underline;
	cursor: pointer;
}


.row-2 .col-1 {
	height: 100%;
	width: 30%;
}

.row-2 .col-1 img {
	height: 35%;
	margin-left: 10vw;
	margin-top: 4%;
	cursor: pointer;
}

.row-2 .col-2 {
	height: 100%;
	width: 70%;
}

.row-2 .col-2 p{
	margin-top: 3%;
	margin-left: 15%;
	font-size: 12px;
}